# Dependency directories
node_modules/
*/node_modules/
*/*/node_modules/
*/*/*/node_modules/

# IDE
.vscode

# Config file
src/config/config.js

# Pdf/txt/log file
*.pdf
*.txt
*.log


# dotenv local environment variables file
.env.local